main{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    align-content: center;
    justify-self: center;
}
p{
    outline: 1px solid black;
    padding: 1rem;
    text-align: center;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    min-width: 100px;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
::backdrop {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.75;
}
dialog[open]{
    position: fixed;
    /* place the dialog on center stage */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog {
    gap: 1rem;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    width: 90%;
    max-width: 500px;
}
dialog > *:not(:last-child){
    margin-bottom: 1rem;
}
header > div{
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}