main{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    align-content: center;
    justify-self: center;
}
header > *{
    margin-bottom: 1rem;
}
header > *:last-child{
    padding: 2rem;
}
p{
    /* outline: 1px solid black; */
    padding: 1rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    font-weight: bold;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* first 6 paragraphs */
p:nth-child(-n+6){
    border-bottom: 2px solid var(--color);
}
/* select last 1,4,7,10,13,16 paragraphs and 2,5,8,11,14,17 paragraphs */
p:nth-child(3n+1),p:nth-child(3n+2){
    border-right: 2px solid var(--color);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
::backdrop {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.75;
}
dialog[open]{
    position: fixed;
    /* place the dialog on center stage */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog {
    gap: 1rem;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    width: 90%;
    max-width: 500px;
}
dialog > *:not(:last-child){
    margin-bottom: 1rem;
}
.scores{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.gameMode{
    display: flex;
    gap: 1rem;
}
.gameMode *:not(:last-child){
    margin-right: 1rem;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}