<header>
  <h1>Tic Tac Toe</h1>
  <h3>Player {{ isPlayerXTurn ? 'X' : 'O' }} turn</h3>
  <!-- scores -->
  <div>
    <h4>X's score: {{ xScore }}</h4>
    <h4>O's score: {{ oScore }}</h4>
  </div>
</header>
<main>
  @for(col of grid; track col; let i = $index){
    @for(ele of col; track ele; let j = $index){
      <p (click)="play(i, j)">{{ele}}</p>
    }
  }
</main>
<footer>
  <button (click)="newGame()">New Game</button>
  <button (click)="resetScores()">Reset Scores</button>
</footer>

<dialog #dialog>
  <h1>Game Over</h1>
  @if (gameOutcome === 'Tie'){
    <h2>It's a tie!</h2>
  } @else {
    <h2>Player {{ gameOutcome }} wins!</h2>
  }
  <button (click)="newGame()">New Game</button>
</dialog>